# Environment variables and secrets
config/.env
.env

# macOS files
.DS_Store

# IDE files
.vscode/
.idea/

# Temporary files
*.log
*.tmp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
venv/
ENV/
env/
.venv/
.ENV/
.env/
expcode/venv/
